* {
  margin: 0;
  padding: 0;
}

#header {
  position: absolute;
  top: 0;
  width: 100vw;
}

#bg-min {
  position: relative;
  top: -0.5rem;
}

#guid-btn {
  position: fixed;
  top: 45vw;
  right: 0;
  height: 10vw;
  z-index: 1;
}

#container {
  background: url(./img/Bg-min.png) center/100% 100% no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 55vw;
}

.gift-card {
  background: url(./img/Gifts\ box-min.png) center/100% 100% no-repeat;
  width: calc(90% - 3vw);
  padding: 4vw 3vw 3vw;
  margin: 8vw auto 4vw;
  height: 55vw;
}

.effects-card {
  background: url(./img/Effects\ box-min.png) center/100% 100% no-repeat;
  width: calc(90% - 3vw);
  padding: 4vw 3vw 3vw;
  margin: 8vw auto 4vw;
  height: 45vw;
}

.rewards-card {
  background: url(./img/Rewards\ box-min.png) center/100% 100% no-repeat;
  width: calc(90% - 3vw);
  padding: 4vw 3vw 3vw;
  margin: 8vw auto 4vw;
  height: 70vw;
}

.schedule-card {
  background: url(./img/Schedule\ box-min.png) center/100% 100% no-repeat;
  width: calc(90% - 3vw);
  padding: 4vw 3vw 3vw;
  margin: 8vw auto 4vw;
  height: 80vw;
}

.leaderboard-card {
  background: url(./img/Leaderboard\ box-min.png) center/100% 100% no-repeat;
  width: calc(90% - 3vw);
  padding: 4vw 3vw 3vw;
  margin: 8vw auto 4vw;
  height: 110vw;
}

.gift-title {
  width: 70% !important;
  display: block;
  margin: 5vw auto 0vw;
}

.reward-title {
  display: block;
  margin: 3vw auto 4vw;
  height: 10vw;
  width: 60% !important;
}

.reward-box img {
  width: 100%;
  height: 100%;
  transform: scale(0.7, 0.7);
}

.schedule-title {
  margin: 2vw auto 0vw;
  height: 10vw;
}

.gift-text {
  width: 90% !important;
  margin: 0 auto;
  font-size: 4vw;
  color: black;
  font-weight: bold;
  padding-top: 5vw;
  text-align: center;
}

.reward-text {
  width: 100% !important;
  font-size: 4vw;
  color: black;
  font-weight: bold;
  text-align: center;
}

.reward-box {
  background-image: url(./img/Rewards\ small\ box-min.png);
  background-repeat: no-repeat;
  height: 20vw;
  background-size: contain;
  width: 20vw;
}

.reward-collection {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  justify-items: center;
  margin: 0 auto;
}

.gift-collection {
  margin: 5vw auto 0vw;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}

.effects-collection {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 25% 25% 40%;
  justify-content: center;
}

.action {
  display: grid;
  grid-template-columns: 30% 30%;
  gap: 20px 10px;
  justify-content: space-around;
  justify-items: center;
  margin: 8vw auto 4vw;
}

.img {
  height: 18vw;
  width: 18vw;
}

.two-img {
  height: 18vw;
  width: 36vw;
}

.action-img {
  height: 10vw;
  width: 35vw;
}

.profile-img {
  height: 8vw;
}

.beans-img {
  height: 4vw;
}

.carousel {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  justify-items: center;
  align-items: center;
  padding: 4vw 0;
}

.left-right-arrow {
  height: 4vw;
}

.dot1 {
  height: 1vw;
}

.dot2,
.dot3,
.dot4 {
  height: 1vw;
  width: 2vw;
}

.table-header {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  color: bisque;
  justify-items: center;
  font-size: 4vw;
  margin: 5vw 0 4vw;
}

.table-body {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  color: black;
  justify-items: center;
  font-size: 3.5vw;
  margin-top: 2vw;
  align-items: center;
  font-weight: bold;
}

.leaderboard-bg {
  background-image: url(./img/Leaderboard\ rect-min.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 70vw;
  margin: 0 auto;
  border-radius: 20px;
  background-size: contain;
}

.leaderboard {
  height: 12vw;
  width: 70vw;
  margin: 0 auto 5px;
  display: grid;
  grid-template-columns: 10% 15% 40% 20% 15%;
  color: white;
  font-size: 3vw;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.footer {
  color: white;
  align-items: center;
  font-size: large;
  text-align: center;
  width: 100vw;
  margin: 0 auto 2vw;
}